.container
      .row
        .col-md-6.col-md-offset-1.9
          .panel.panel-login
            .panel-heading 
                h1 Registeration
              hr
            .panel-body
              .row
              form(role='form') 
                .form-group
                  label(for='InputName')  
                .form-group
                  label(for='InputName') Enter Name
                  .input-group
                    input#InputName.form-control(type='text', name='InputName',ng-model="name", placeholder='Enter Name', required='')
                    span.input-group-addon
                      span.glyphicon.glyphicon-asterisk
                .form-group 
                  label(for='InputName') Enter Phone-Number
                  .input-group
                    input#InputName.form-control(type='text', name='InputName',ng-model="phone", placeholder='Enter Name', required='')
                    span.input-group-addon
                      span.glyphicon.glyphicon-asterisk
                .form-group
                  label(for='InputEmail') Enter Email
                  .input-group
                    input#InputEmailFirst.form-control(type='email',ng-model="email", name='InputEmail', placeholder='Enter Email', required='')
                    span.input-group-addon
                      span.glyphicon.glyphicon-asterisk
                .form-group
                input#submit.btn.btn-info.pull-right(type='submit',ng-click="add()", name='submit', value='Register')
            .col-lg-5.col-md-push-1
              .col-md-12
               