link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", rel="stylesheet")
.testbox
  h1 Registration
  form(action="/")
    hr
     
    hr
    label#icon(for="name")
      i.icon-envelope
    input#name(type="text", name="name", placeholder="Email", required="")
    label#icon(for="name")
      i.icon-user
    input#name(type="text", name="name", placeholder="Name", required="")
    label#icon(for="name")
      i.icon-shield
    input#name(type="text", name="name", placeholder="PhoneNumber", required="")
     
    a.button(href="#") Register
