script#__bs_script__(type='text/javascript').
    //<![CDATA[
      document.write("<script async src='/browser-sync/browser-sync-client.1.9.2.js'><\\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
      //]]>
    |     
    header
      h1 Push Demo
    |     
    main
      .js-push-switch-container
        label.wsk-switch.wsk-js-switch.wsk-js-ripple-effect(for='enable-push')
          input#enable-push.wsk-switch__input.js-enable-push(type='checkbox', disabled='')
          |           
          span.wsk-switch__label Enable Push Notifications
      |       
      .content-overlap-wrapper
        .send-push-options.js-send-push-options
          p.center
            button.xhr-button.js-xhr-button.wsk-button.wsk-js-button.wsk-button--colored.wsk-js-ripple-effect
              | Send a Push to GCM via XHR
        |         
        .error-message-container.js-error-message-container
          h1.error-title.js-error-title
          |           
          p.error-message.js-error-message
    // build:js(app/) ../../scripts/main.min.js
    script(src='styleguide/switch/switch.js')
    |     
    script(src='styleguide/button/button.js')
    |     
    script(src='styleguide/third_party/rAF.js')
    |     
    script(src='styleguide/ripple/ripple.js')
    |     
    script(src='scripts/ui-handler.js')
    |     
    script(src='scripts/main.js')
