body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}
fieldset, img {border:0}
ol, ul, li {list-style:none}
:focus {outline:none}
body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}
 
 
h1 {
  font-size: 40px;
  font-weight: 300; 
  font-style: bold;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
html{
  background-color: #ffffff;
} 
.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px;    
  border-radius: 8px/7px; 
  background-color: #ebebeb;  
  box-shadow: 3px 4px 7px rgba(0,0,0,.31); 
  border: solid 2px #cbc9c9;
}
input[type=radio] {
  visibility: hidden;
}
form{
  margin: 0 30px;
}
 
 
 
input[type=radio]:checked + label:after {
  opacity: 1;
}
hr{
  color: #a9a9a9;
  opacity: 0.3;
}
input[type=text],input[type=PhoneNumber]{
  width: 200px; 
  height: 39px; 
   border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: 0px;
  margin-top: 13px; 
  padding-left: 10px;
}
input[type=PhoneNumber]{
  margin-bottom: 25px;
}
#icon {
  display: inline-block;
  width: 40px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px; 
  border-radius: 4px 0px 0px 4px;
  color: white; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}
.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}
.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}
a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 90px; height: 31px; 
  border-radius: 5px; 
  background-color: #3a57af;  
  box-shadow: 0 3px rgba(58,87,175,.75); 
  top: 0px;
  margin-right: 25px;
  position: relative;
}
a.button:hover {
  top: 3px;
  background-color:#2e458b;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}
