
link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", rel="stylesheet")
.testbox
  h1 Registration
  form(role='form')
    hr
     
    hr
    label#icon(for="name")
      i.icon-envelope
    input#name(type='text', name='InputName',ng-model="name", placeholder='Enter Name', required='')
    label#icon(for="name")
      i.icon-user
    input#name(type='text', name='InputName',ng-model="phone", placeholder='Enter Phone-Number', required='')
    label#icon(for="name")
      i.icon-shield 
     
    input#name(type='text', name='InputEmail',ng-model="email", placeholder='Enter Email', required='')
     
    a.button(type='submit',ng-click="add();retrive();setCookies()", name='submit', value='Register') Register
    a.button(type='submit',ng-click="authenticate('google')", name='submit', value='RegisterWithGmail') Register with Google
    a.button(type='submit',ng-click="authenticate('facebook')", name='submit', value='RegisterWithGmail') Register with facebook
