.pagemain
    .mainimg
        //- img(src='./../assets/images/yam.png', alt='HTML5 Icon', style='width:120px;height:50px;')
    .out
    form(name='f2')
      input#logout(type='submit',ng-click="logOut()", name='submit', value='LOGOUT')       
    .wrapperr
        table
            thead
                tr
                  td Name of emplyee
                  td Email
                  td Phone Number
                  td Add to defult
                  td Add to interview list
            tbody
                  tr(ng-repeat="eid in snap")
                    td {{eid.name}}
                    td {{eid.email}}
                    td {{eid.phone}}
                    td
                      .def
                        form(name='f2')
                            input#edit(type='submit',ng-click="addToDefult(eid.name , eid.token)", name='submit', value='Add to defult')
                    td
                      .inte
                        form(name='f5')
                            input#edit(type='submit',ng-click="addToInterview(eid.name , eid.token)", name='submit', value='Add to interview list')
                    
