table{width:80%;border:1px solid #ccc;border-collapse:collapse; margin-left: 100px; margin-top: 40px;}
table th,
table td{border:1px solid #ddd;border-width:1px 0;padding:5px 10px;font-size:17px}
 
table thead td{background-color: #6495ED;}
table tbody tr:nth-child(odd){background-color:#e5e5e5}
table .number{text-align:right}
table .date{text-align:center}
table tfoot th,
table tfoot td{border-top-width: 2px}
table tfoot th{text-align: right;}
.show-phone{display:none}

.pagemain{
background-color: #F8F8F8;
margin-top: 100px;

}

.mainimg{

  margin-top: 30px;
  margin-left: 100px;
}

#edit{
  moz-border-radius-topright: 60px;
  border-radius: 20px;
  padding: 7px 8px;
  background-color: #FFFFFF;
  color: #000000;
   font-style: italic;
   font-size: 15px;
   font-family:Pacifico;
}
.inte{
  border-bottom: 0.5px solid #2980B9;
}

.action-button
{
  position: relative; 
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;  
}

#logout{ 
  font-size: 17px;
  font-weight: 600; 
  font-style: italic;  
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color: #4D6B99; 
  margin-left:  59em;
  display: inline-block;
  text-decoration: none;
  width: 100px; height: 30px; 
  border-radius: 5px; 
  background-color: #ebebeb;    

}
#logout:hover {
  top: 3px;
  background-color:#3a57af;
  color :white;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

.out{

  padding-bottom: 2px;
  margin-left: 30em;
  color:#000; 
}


