<<<<<<< HEAD
h1    
  .videotable(style='width: 90%')
    table
      td Name of Emplyee
      td     Email
      td  Phone Number
      td Add to Defult
      td Add to Interview List
      tr(ng-repeat="eid in snap")
        td {{eid.name}}
        td {{eid.email}}
        td {{eid.phone}}
        td
          .def
            form(name='f2')
                input#edit(type='submit',ng-click="addToDefult(eid.name , eid.token)", name='submit', value='Add to defult')
        td
          .inte
            form(name='f5')
                input#edit(type='submit',ng-click="addToInterview(eid.name , eid.token)", name='submit', value='Add to interview list')
        
=======
span.custom-dropdown.big
    .ref
      select
          option sameh
          |         
          option saja
          |   
          |         
          option V for Vendetta
          |         
          option The Wolf of Wallstreet
          |         
          option Quantum of Solace
              div(ng-repeat='item in list', ng-click='select(item)', ng-class='{ selected: isSelected(item) }')
>>>>>>> c5f388da45ccb059d5090732986fe2a2b53d1763
