.pragraphh
    .subscribebox
        .blockk
            .radio
                input#subscribe(type='radio', ng-model="subscribe",name='sub', ng-click="checkSubscribe()",value='subscribe')
                |   
                | 
                .ll        
                    label(for='subscribe') subscribe
                    |   
                    |         
                input#unsubscribe(type='radio',ng-model="unsubscribe",ng-click="checkUnsubscribe()", name='sub', value='unsubscribe')
                |   
                |         
                .ll
                    label(for='unsubscribe') unsubscribe
        .his
             form(name='f2')
                input#hisetoryView(type='submit',onClick="location.href='../history'", name='submit', value='Check History')            
       
   