.pragraph
     h1 Enable push-notificatons or Not
        .block
            .radio
                input#subscribe(type='radio', ng-model="subscribe",name='sub', ng-click="checkSubscribe()",value='subscribe')
                |   
                |         
                label(for='subscribe') subscribe
                |   
                |         
                input#unsubscribe(type='radio',ng-model="unsubscribe",ng-click="checkUnsubscribe()", name='sub', value='unsubscribe')
                |   
                |         
                label(for='unsubscribe') unsubscribe
       