

.blockk {

    background:#3a57af ;
    text-align: center ;
    margin-top: 4em;
  padding:10px;
  color:#fff;
}
.pragraphh { 
    height: 40em;
    text-align: center ; 
    background: #ebebeb;
    padding-top: 8em;

}
input[type=radio] {
    display: none;
}
 
.radio .ll:before {
    border-radius: 8px;

}
.ll{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 50px;
    font-size: 20px;
}
.ll:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #B8B8B8 ;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
 
input[type=radio]:checked + .ll:before {
    content: "\2713";
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 18px;
}
#hisetoryView{ 
  font-size: 17px;
  font-weight: 600; 
  font-style: italic;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color: #4D6B99;
  padding: 6px 25px 0px 20px;
  margin: 40px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  width: 160px; height: 40px; 
  border-radius: 5px; 
  background-color: #ebebeb;   
  top: 0px;
  margin-right: 25px;
  position: relative;
}
#hisetoryView:hover {
  top: 3px;
  background-color:#3a57af;
  color :white;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}
