 
link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600", rel="stylesheet", type="text/css")
link(href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css", rel="stylesheet")
.testbox
  h1 Edit Department
  form(role='form')
    hr
     
    hr


    
     
     
    input#name(type='text', name='DefultEmplyee',ng-model="DefultEmplyee", placeholder=' Add new defults emplyee', required='')

    a.button(type='submit',ng-click="AddDefultEmplyee(DefultEmplyee)", name='submit', value='Add') Add to Defult

    
    
    input#name(type='text', name='AddEmplyee',ng-model="AddEmplyee", placeholder='Add new emplyee to the Deparment', required='')
     
    a.button(type='submit',ng-click="AddNewEmplyee(AddEmplyee)", name='submit', value='Add') Add to the Department
